.game {
  display: flex;

}
.board{
  margin-top: 50px;
  height: 1111px;
  width: 1111px;
  margin-left: 50px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(25,1fr);
  grid-template-rows: repeat(25,1fr);
}
.square {
  cursor: pointer;  
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.game-info{
  margin-top: 100px;
  margin-left: 100px;
}
.game-info li {
  list-style-type: nome;
}
.game-info button {
  font-size: 13px;
  font-weight: bolder;
}
.status {
  position: fixed;
  margin-left: 200px;
  font-size: 25px;
  color: rgb(82, 22, 222);
}
.status-winner{
  position: fixed;
  top: 30%;
  left: 40%;
  font-weight: bold;
  font-size: 60px;
  color: blue;
}